<div class="w-full px-10 py-3 flex justify-between bg-zinc-800 text-white items-center">
  <a href="/">
    <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" class="h-11" alt="pin logo" class="img1" />
  </a>
    <div class="flex gap-10 items-center">
    <a href="/profile">Profile</a><a href="/feed">Feed</a><a href="/logout" class="px-3 py-2 bg-red-700 text-white rounded-lg">Logout</a>
    </div>
  </div>
